<div class="text-center">
    <img src="~/img/Mikhail.jpg" alt="Михаил Богданов" class="rounded-circle" width="200" height="200" />
    <h2>Богданов Михаил Сергеевич</h2>
</div>
<ul>
    <li>Работал программистом АСУ ТП в АО "Карелия ДСП"</li>
    <li>Специалистом технической поддержки в Почте России</li>
</ul>